<%= content_for :swiper_css do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<% end %>

<div class="container">
  <div class="row">
    <div class="row-content">
      <h1 class="original-title btm-line btm-line-blue"><i class="material-icons">done</i>人気の記事</h1>
    </div>

    <div class="row-content">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="art-date">2018/10/02</p>
            <%= image_tag 'sample.jpg', width: '100%', height: '30%', class: 'famous-img' %>
            <h2 class="card-title over-title white-text">はじめて作るRailsアプリケーション</h2>
          </div>

          <div class="swiper-slide">
            <p class="art-date">2018/10/02</p>
            <%= image_tag 'sample.jpg', width: '100%', height: '30%' %>
            <h2 class="card-title over-title white-text">Railsアプリケーション</h2>
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="row-content">
      <h1 class="original-title btm-line btm-line-blue"><i class="material-icons">done</i>最近の記事</h1>
    <div>

    <div class="row-content">
      <% (1..5).each do |n| %>
        <a href="/articles/<%= n %>" class="none-style-anker">
          <div class="card">
            <p class="art-date">2018/10/02</p>
            <%= image_tag 'sample.jpg', width: '100%', height: '30%' %>
            <h2 class="card-title">はじめて作るRailsアプリケーションで絶対に成功する方法</h2>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  
</div>

<% content_for :swipe_js do%>
  <%= javascript_include_tag 'swipe', 'data-turbolinks-track': 'reload' %>
<% end %>