<div class="article-container">

  <div class="article-row">
    <div class="article-card">
      <p class="article-date">2019/01/18</p>
      <h2 class="card-title">CATEGORY</h2>
      <div class="article-content">

        <% @categories.each do |category| %>
          <div class="accbox">
            <label for="lable<%= category.id %>"><%= category.category_name %></label>
            <input type="checkbox" id="lable<%= category.id %>" class="cssacc" />
            <div class="accshow">
              <% category.article.each do |article| %>
                <a href="/articles<%= article.content_url %>" class="accshow__a">
                  <p><%= article.content_title %></p>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>